body {
  margin: 0 !important;
  padding: 0;
  font-family: 'Avenir Next W01';
  line-height: normal;
}

.ant-modal-body {
  line-height: normal;
}

.rc-drawer-sidebar {
  z-index: 11;
}

.modal-link .ant-modal-confirm-btns {
  float: unset;
  text-align: center;
}