body {
  margin: 0 !important;
  padding: 0;
  font-family: Avenir Next;
  line-height: normal;
}

.ant-modal-body {
  line-height: normal;
}

.my-facebook-button-class {
  width: 100%;
  background-color: #395ca9;
  color: #fff;
  padding: 15px 0;
}

.fa .facebook {
  margin-right: 15px;
}

span.ant-input-group-addon {
  border: 0px !important;
}
