body {
  margin: 0 !important;
  padding: 0;
  font-family: 'Avenir Next W01';
  line-height: normal;
}

.ant-modal-body {
  line-height: normal;
}

.rc-drawer-sidebar {
  z-index: 11;
}

.transparent-modal .ant-modal-content{
  background: transparent;
  box-shadow: none;
}

.transparent-modal .ant-modal-content .ant-modal-body{
  padding: 0;
}