@popover-prefix-cls: ~'@{ant-prefix}-popover';

.@{popover-prefix-cls} {
  &-inner {
    background-color: @popover-bg;
    background-clip: padding-box;
    border-radius: 0px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  }
}

.@{tooltip-prefix-cls} {
  &-inner {
    max-width: @tooltip-max-width;
    padding: 6px 8px;
    color: @tooltip-color;
    text-align: left;
    text-decoration: none;
    background-color: @tooltip-bg;
    border-radius: 1px;
    font-size: 10px;
    box-shadow: @box-shadow-base;
    min-height: 26px;
  }
}

/* Drawer Styles */
.rc-drawer-open.rc-drawer.rc-drawer-left .rc-drawer-sidebar {
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
  background-color: white;
}

.rc-drawer.rc-drawer-left .rc-drawer-draghandle,
.rc-drawer.rc-drawer-right .rc-drawer-draghandle {
  width: 0px !important;
  height: 100%;
}

.rc-drawer-open.rc-drawer.rc-drawer-left .rc-drawer-sidebar {
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
  top: 75px;
  padding: 15px;
}

.rc-drawer-overlay {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0 !important;
}
