@popover-prefix-cls: ~'@{ant-prefix}-popover';

.@{popover-prefix-cls} {
  &-inner {
    background-color: @popover-bg;
    background-clip: padding-box;
    border-radius: 0px;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
  }
}
